/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
:root {
  --main-color: #00d1ff;
  --main-color-alt: wheat;
  --main-transition: 0.7s;
  --main-padding: 50px;
}
body {
  font-family: "roboto", sans-serif;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(1, 1, 34));
  overflow-x: hidden;
  color: white;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #273046;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 8px;
}

ul {
  list-style: none;
}
.main-title {
  margin: 0 auto 80px;
  border: 3px solid var(--main-color);
  padding: 10px 20px;
  width: fit-content;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 15px;
  height: 5px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
  background-color: white;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: black;
  border: 2px solid var(--main-color);
  transition-delay: 0.5s;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container .content {
  overflow-x: hidden;
  max-width: 700px;
  padding: 2rem;
  z-index: 1;
}
.container .content .logo {
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  color: var(--main-color);
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .container .content .logo {
    font-size: 30px;
  }
}
.container .content p {
  color: var(--main-color-alt);
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 30px;
  transition: var(--main-transition);
}
.content p:hover {
  color: var(--main-color);
}
.content .icons {
  margin-top: 50px;
  gap: 30px;
  font-size: 30px;
}
.content .icons a {
  padding: 6px 10px;
  color: white;
  border-radius: 31%;
  transition: var(--main-color);
  transition: var(--main-transition);
}
.content .icons a:first-of-type {
  background-color: #e4405f;
}

.content .icons a:first-of-type:hover {
  background-color: white;
  color: #e4405f;
  transform: rotate(360deg);
}
.content .icons a:nth-child(2) {
  background-color: rgb(255, 175, 4);
}
.content .icons a:nth-child(2):hover {
  background-color: white;
  color: rgb(255, 175, 4);
  transform: rotate(360deg);
}
.content .icons a:nth-child(3) {
  background-color: blue;
  color: white;
  transition: var(--main-transition);
}
.content .icons a:nth-child(3):hover {
  background-color: white;
  color: blue;
  transform: rotate(360deg);
}
.content .icons a:nth-child(4) {
  background-color: green;
  color: white;
  transition: var(--main-transition);
}
.content .icons a:nth-child(4):hover {
  background-color: white;
  color: green;
  transform: rotate(360deg);
}
.content .icons a:last-child {
  background-color: gray;
}
.content .icons a:last-child:hover {
  background-color: white;
  color: gray;
  transform: rotate(360deg);
}
.main-container {
  top: 0;
  left: 0;
  z-index: 200000;
}
.toggler {
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  opacity: 0;
  z-index: 3;
}
.toggler:scroll {
  display: none;
}
.links {
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 40%;
  background-color: #111;
  z-index: 2;
}
.links > div {
  position: absolute;
  width: 10%;
  height: 5px;
  border-radius: 90%;
  background-color: var(--main-color);
  transition: 0.4s;
}
.links > div::before,
.links > div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.links > div::before {
  top: -10px;
}
.links > div::after {
  top: 10px;
}
.toggler:checked + .links > div {
  transform: rotate(90deg);
}
.toggler:checked:hover + .links > div {
  transform: rotate(360deg);
  background-color: #111;
}
.toggler:checked + .links > div::after,
.toggler:checked + .links > div::before {
  transform: rotate(0deg);
  top: 0;
  background-color: white;
}
.toggler:checked ~ .menu {
  visibility: visible;
}
.toggler:checked ~ .menu > div {
  transform: translateX(-50%) translateY(-50%);
}
.toggler:checked ~ .menu > div > div {
  opacity: 2;
}
.menu {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: var(--main-transition);
}
.menu > div {
  width: 1600px;
  height: 1600px;
  top: 50%;
  left: 50%;
  transform: translateX(-150%) translateY(-50%);
  background-color: rgba(0,209,255, 0.8);
  transition: var(--main-transition);
}
.menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
}
.menu > div > div > ul {
  left: -13px;
}
.menu > div > div > ul > li > a {
  margin: 1.7rem;
  font-size: 1.8rem;
  font-weight: 550;
  transition: var(--main-transition);
}
.menu > div > div > ul > li a:hover {
  color: var(--main-color-alt);
  letter-spacing: 5px;
}
/* End Header */

/* Start About */

.about {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.about .container {
  opacity: 1;
  gap: 20px;
}
@media (max-width:767px) {
  .about .container {
    flex-direction: column;
  }
}
.about .container::before {
    content: "";
    width: 122px;
    height: 290px;
    position: absolute;
    left: 251px;
    bottom: 289px;
    z-index: -1;
    border-right: 40px double var(--main-color-alt);
    border-bottom: 40px double #000008;
    border-radius: 50%;
    z-index: 2;
}

.about .container::after {
    content: "";
    width: 122px;
    height: 290px;
    position: absolute;
    left: 329px;
    top: 281px;
    z-index: -1;
    border-left: 40px double #00D1FF;
    border-top: 40px double var(--main-color);
    border-radius: 50%;
    z-index: 1;
}
@media (max-width: 1280px) {
  .about .container::before,
  .about .container::after {
    display: none;
  }
}
.about .image img {
  max-width: 300px;
  border-radius: 40%;
  transition: var(--main-transition);
  z-index: 2;
  border: 5px solid var(--main-color);
  border-top: 5px solid var(--main-color-alt);
}
@media (max-width: 767px) {
  .about .image img {
    max-width: 200px;
    z-index: 1;
  }
}
.about .image img:hover {
  border: 5px solid var(--main-color);
  border-top: 5px solid var(--main-color-alt);
  /* filter: grayscale(100%); */
  transform: rotate(360deg);
}
.about .text {
  padding: 10px 20px;
  bottom: 95px;
  border-radius: 20px;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .about .text {
    padding-left: 15px;
    top: -15px;
  }
}
.about .text h3 {
  margin-bottom: 30px;
  font-size: 80px;
  color: var(--main-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: var(--main-transition);
}
.about .text h3:hover {
  color: var(--main-color-alt);
}
@media (max-width: 767px) {
  .about .text h3 {
    font-size: 30px;
  }
}
.about .text p {
  width: 200px;
  color: var(--main-color-alt);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  transition: var(--main-transition);
}
.about .text p:hover {
  color: var(--main-color);
}
/* End About */

/* Start Portfolio */
.portfolio {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  margin-bottom: 350px;
}
.portfolio > h1 {
  font-size: 30px;
  bottom: 40px;
  font-family: "Dancing Script", serif;
  letter-spacing: 10px;
  color: var(--main-color-alt);
}
@media (max-width: 500px) {
  .portfolio > h1 {
    font-size: 17px;
    letter-spacing: 5px;
    margin-left: 10px;
  }
}
.portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
    padding: 10px;
    margin: auto;
    position: relative;
}
@media (max-width: 767px) {
  .portfolio .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
  }
}
.portfolio .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: transparent;
  border-radius: 50px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow 0.4s;
  border: 2px double var(--main-color);
  max-width: 90%;
}
@media (max-width: 767px) {
  .portfolio .box {
    max-width: 75%;
  }
}
.portfolio .box:hover {
  transform: translateY(-40px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  border: 5px solid #273046;
  border-bottom-right-radius: 30%;
}
.portfolio .box img {
  max-width: 608px;
  width: 700px;
  max-height: 60%;
}
@media (max-width:767px) {
  .portfolio .box img {
    max-height: 250px;
  }
}
.portfolio .box img:hover {
  filter: grayscale(100%);
}
.portfolio .box .caption {
  padding: 5px;
  top: 40px;
}
@media (max-width: 767px) {
  .portfolio .box .caption {
    top: 0;
  }
}
.portfolio .box .caption h3 {
  color: var(--main-color);
  transition: var(--main-transition);
}
.portfolio .box .caption h3:hover {
  color: white;
}
.portfolio .box .caption p {
  margin: 10px 0 0 0;
  line-height: 1.5;
  color: var(--main-color-alt);
}
.portfolio .box .caption p:hover {
  color: var(--main-color);
}
/* End Portfolio */

/* Start Footer */
.footer {
  background-color: #0097db;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.footer .copyright {
  font-size: 20px;
  left: 0;
}

.footer i {
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .footer .copyright {
    max-width: 220px;
  }
}
.footer i:hover {
  color: red;
  font-size: 30px;
  transform: rotate(360deg);
}
.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: darkblue;
  font-size: 30px;
}
@media (max-width: 767px) {
  .footer span {
    font-size: 20px;
  }
}
.footer p {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
@media (max-width: 767px) {
  .footer p {
    font-size: 15px;
  }
}
.footer .wave {
    top: -99px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url(../Images/wave.png);
    background-size: 2300px 100px;
}

.footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}
.footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
}
.footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}
.footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave 3s linear infinite;
}
/* End Footer */

.slider {
  background-color: transparent;
  padding: 6px;
  border-radius: 4px;
  margin: 20px;
  bottom: 20px;
  font-size: 40px;
  right: 20px;
  color: white;
  display: none;
  z-index: 100000;
}

/* Start Animation */
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes animatewave {
  0% {
      background-position-x: 2300px;
  }
  100% {
      background-position-x: 0px;
  }
}
@keyframes animatewave_02 {
  0% {
      background-position-x: 0px;
  }
  100% {
      background-position-x: 2300px;
  }
}


/* End Animation */
